$color_primary: #B535F6;
$color_secondary: #FF00E5;
$color_terciary: #7823d5;
$color_button: #9832ed;
$color_button_secondary: #C600FF;
$color_background: #030328;
$color_background_secondary: #020210;
$color_primary_font: #9e86ff;
$color_secondary_font: #FFFFFF;


.cataloghome {
    position: relative;

}