$color_primary: #B535F6;
$color_secondary: #FF00E5;
$color_terciary: #7823d5;
$color_button: #9832ed;
$color_button_secondary: #C600FF;
$color_background: #030328;
$color_background_secondary: #020210;
$color_primary_font: #9e86ff;
$color_secondary_font: #FFFFFF;

.sliderrating {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    //overflow: hidden;

    &__slider {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__container {
        width: 800%;
        display: flex;
        flex-direction: row;
        transition: all 0.7s ease-out;

        @media (max-width: 600px) {
            height: 80vh;
        }
    }
}

.ratslider {
    width: 100%;
    position: relative;

    &__backdrop {
        width: 100%;
        max-height: 43rem;
        object-fit: cover;

        @media (max-width: 600px) {
            height: 80vh;
        }

    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: left;
        position: absolute;
        flex-flow: row wrap;
        width: 100%;
        bottom: 0.2rem;
        height: 15rem;
        gap: 0rem;
        background: linear-gradient(transparent 0%, #00000088 20%, #000000 100%);
        padding: 0.5rem;
        color: #ffffff;


        @media (max-width: 600px) {
            height: 20rem;
            justify-content: center;
            align-items: flex-end;
            bottom: 0rem;
        }
    }

    &__options {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1.5fr 1fr;
        flex: 0 60%;

        @media (max-width: 600px) {
            flex: 0 100%;

        }
    }

    &__title {
        grid-row: 1 / 2;
        grid-column: 1 / span 3;
        font-size: 3rem;
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        padding: 0.3rem;
        border-radius: 0 0.5rem 0 0;
        color: #ffffff;

        @media (max-width: 600px) {
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 600;
            text-align: center;
        }
        @media (max-width: 764px) and (min-width: 601px) {
            font-size: 2rem;
        }
    }

    &__sinopsis {
        grid-row: 2 / 3;
        grid-column: 1 / span 3;
        text-align: left;
        padding: 0.2rem;

        @media (max-width: 600px) {
            font-size: 0.85rem;
            text-align: center;
        }
    }

    &__play {
        width: 3.5rem;
        height: 3.5rem;
        justify-self: center;

        @media (max-width: 600px) {
            align-self: center;
            width: 2.5rem;
            height: 2.5rem;
        }

        &--icon {
            width: 3.5rem;
            fill: #FFFFFF;

            @media (max-width: 600px) {
                width: 2.5rem;
                height: 2.5rem;
            }

            &>path:nth-child(1) {
                transition: all 0.2s;
            }

            &:hover>path:nth-child(1) {
                fill: #9832ed;
            }
        }

    }

    &__logo {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
        width: 4rem;
        filter: invert(1);
    }

    &__info {
        max-width: 14rem;
        max-height: 3.3rem;
        padding: 0.8rem 0rem;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 0.3rem;
        border: 2px solid transparent;
        color: $color_secondary_font;
        background-color: #252525;
        transition: all 0.2s;
        cursor: pointer;

        @media (max-width: 600px) {
            align-self: center;
            font-size: 0.9rem;
            max-width: 12rem;
            padding: 0.6rem 0.5rem;
            justify-self: center;
        }

        
        @media (max-width: 764px) and (min-width: 601px) {
            font-size: 1rem;
        }

        &:hover {
            border-color: $color_terciary;
            background-color: #020210;
        }
    }
}

@keyframes selectionSlider {
    0% {
        box-shadow: 0 0 5px 5px #ffffff00;
    }

    50% {
        box-shadow: 0 0 1px 3px #ffffff99;
    }

    100% {
        box-shadow: 0 0 5px 5px #ffffff00;
    }
}

.controlsrating {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    gap: 1rem;

    &__circle {
        position: relative;
        width: 0.55rem;
        height: 0.55rem;
        border-radius: 3rem;
        border: none;
        cursor: pointer;
        background: #FFFFFF;
        transition: all 2s;
        opacity: 0.4;

        &--true {
            opacity: 1;
            animation: selectionSlider 0.4s linear;
        }
            

        &--false {
            opacity: 0.25;
            
        }
    }

    &__button {
        position: absolute;
        width: 3rem;
        top: calc(50% - 1.25rem);
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 0.6;
        border-radius: 0.4rem;
        transition: all 0.3s;
        background-color: #FFFFFF25;
        mix-blend-mode: difference;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 0.7;
        }
    }

    &__arrow {
        width: 2rem;
        mix-blend-mode: difference;
    }

    &__left {
        left: 1rem;
        transform: rotate(-90deg);

    }

    &__right {
        right: 1rem;
        transform: rotate(90deg);
    }
}