.cardslider:hover > .slider__image {
  transform: scale(1.01);
}
.cardslider:hover {
  border-color: #79429e;
}

.cataloghome {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.cataloghome--true {
  min-height: 100vh;
}

.catalog__section {
  margin-top: 0rem;
}

.headercatalog {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: #00000066;
  backdrop-filter: blur(2px);
  z-index: 2;
}

.navcatalog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 1rem 2rem;
}
@media (max-width: 768px) {
  .navcatalog {
    padding: 1rem 1rem 1rem 1rem;
  }
}
.navcatalog__menu {
  background-color: transparent;
  border: none;
  flex: 5%;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}
.navcatalog__menu:hover {
  opacity: 1;
}
.navcatalog__link {
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0.6;
  transition: all 0.2s;
}
.navcatalog__link:hover {
  opacity: 1;
}
.navcatalog__movies {
  flex: 5%;
  display: flex;
}
@media (max-width: 768px) {
  .navcatalog__movies {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1136px) {
  .navcatalog__movies {
    flex: 8%;
  }
}
.navcatalog__movies--movies {
  opacity: 1;
}
.navcatalog__series {
  flex: 10%;
  display: flex;
}
@media (max-width: 768px) {
  .navcatalog__series {
    display: none;
  }
}
.navcatalog__series--series {
  opacity: 1;
}
.navcatalog__home {
  width: 10rem;
  flex: 50%;
}
@media (max-width: 600px) {
  .navcatalog__home {
    flex: 60%;
    padding-left: 1.5rem;
  }
}
.navcatalog__logo {
  width: 10rem;
}
.navcatalog__search {
  flex: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.navcatalog__search--search {
  opacity: 1;
}

.userprofile {
  flex: 15%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: right;
  gap: 0.6rem;
  text-decoration: none;
  padding: 0 0 0 0rem;
}
@media (max-width: 768px) {
  .userprofile {
    flex: 6%;
    padding: 0 0 0 0.5rem;
  }
}
.userprofile:hover > .userprofile__name {
  opacity: 1;
}
.userprofile__logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  background: linear-gradient(120deg, #f7a6f7, #e011e0);
  z-index: 0;
}
.userprofile__logo::after {
  position: absolute;
  content: "";
  left: calc(50% - 0.85rem);
  top: calc(50% - 0.85rem);
  height: 1.7rem;
  width: 1.7rem;
  z-index: 2;
  border-radius: 3rem;
  font-size: 5rem;
  font-weight: 300;
  background-color: #350a23;
  z-index: 1;
}
.userprofile__initial {
  z-index: 2;
  font-size: 1.1rem;
  font-weight: 600;
  color: #FFFFFF;
}
.userprofile__name {
  display: flex;
  padding: 0 0 0 2.5rem;
}
@media (max-width: 768px) {
  .userprofile__name {
    display: none;
  }
}