.details {
  position: relative;
  width: 100%;
  max-height: 44rem;
  height: 100vh;
}
@media (max-width: 600px) {
  .details {
    max-height: 60rem;
  }
}
.details__image {
  width: 100%;
  height: 100%;
  max-height: 45rem;
  object-fit: cover;
}
@media (max-width: 600px) {
  .details__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.infodetails {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
  background: linear-gradient(transparent 0%, #000000cc 30%, #000000 100%);
}
@media (max-width: 600px) {
  .infodetails {
    padding: 1rem;
  }
}
.infodetails__name {
  flex: 100%;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: left;
  padding: 1rem 0;
}
.infodetails__genres {
  margin: 0 0.4rem;
}
.infodetails__watch {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.3rem;
}
.infodetails__watch--false {
  max-width: 7.5rem;
  max-height: 3.5rem;
  border-radius: 0.25rem;
  flex: 20%;
  width: 15%;
}
.infodetails__watch--true {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2rem;
}
.infodetails__watch:hover {
  border-color: #7823d5;
}
.infodetails__watchicon {
  flex: 20%;
  width: 1.8rem;
  height: 1.8rem;
  top: calc(50% - 0.9rem);
}
.infodetails__watchsession {
  flex-direction: 80%;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 0;
}
.infodetails__addcontainer {
  position: relative;
  flex: 20%;
  align-self: center;
  margin: 0 1rem;
}
.infodetails__addcontainer:hover {
  background-color: #ffffff35;
}
.infodetails__addicon, .infodetails__checkicon {
  filter: invert(1);
}
.infodetails__check:checked ~ .infodetails__addicon {
  display: flex;
}
.infodetails__check:checked ~ .infodetails__checkicon {
  display: none;
}
.infodetails__synopsis {
  flex: 100%;
  text-align: left;
  padding: 2rem 25% 1.5rem 0;
}
@media (max-width: 600px) {
  .infodetails__synopsis {
    padding: 0rem 0 0rem 0;
    margin: 1.5rem 0;
    max-height: 8rem;
    overflow-y: auto;
  }
}
.infodetails__trailerbutton {
  display: flex;
  flex: 10%;
  max-width: 6rem;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  flex: 100%;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}
.infodetails__trailerbutton:hover {
  opacity: 1;
}

.informationmovie {
  display: flex;
  flex-direction: row;
  column-gap: 0.9rem;
  flex: 100%;
  text-align: left;
  padding: 0.6rem 1rem;
  align-self: center;
  max-height: 3rem;
  align-items: center;
  background-color: #e0e0e035;
  border-radius: 0.5rem;
  max-width: max-content;
}
.informationmovie__time {
  color: #b1b1ff;
}
.informationmovie__classification {
  color: #ffffff;
}
.informationmovie__rating {
  color: #81ec6c;
}

.seasons {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 35rem;
  min-width: 100%;
}
.seasons__combobox {
  width: 100%;
  max-width: 14rem;
  height: 3.5rem;
}

.addcontainer {
  position: relative;
  flex: 20%;
  width: 15%;
  height: 100%;
  max-width: 3rem;
  max-height: 3rem;
  background-color: #ffc40000;
  border-radius: 4rem;
  transition: background-color 0.3s;
}
.addcontainer__check {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  opacity: 0;
}
.addcontainer__addicon {
  display: none;
  position: absolute;
  max-width: 1.7rem;
  height: 1.7rem;
  left: calc(50% - 0.85rem);
  top: calc(50% - 0.85rem);
  pointer-events: none;
}
.addcontainer__checkicon {
  position: absolute;
  max-width: 1.5rem;
  height: 1.5rem;
  left: calc(50% - 0.75rem);
  top: calc(50% - 0.75rem);
  pointer-events: none;
}

.chapters {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  padding: 1rem 0;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.chapters__loading {
  width: 100%;
  height: 100%;
  height: 15rem;
  background: #7823d510;
}

.chapter {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.chapter:hover > .chapter__container > .chapter__play > .chapter__image {
  border-color: #9832ed;
}
.chapter:hover > .chapter__container > .chapter__playcontainer {
  display: flex;
  opacity: 1;
}
.chapter:hover > .chapter__container > .chapter__addcontainer {
  display: flex;
  opacity: 1;
}
.chapter__container {
  position: relative;
  flex: 80%;
}
.chapter__image {
  width: 100%;
  height: 100%;
  animation: animationLoad 0.3s linear;
  object-fit: cover;
  border: 2px solid transparent;
  padding: 0.15rem;
  border-radius: 0.3rem;
  transition: all 0.3s;
}
.chapter__play {
  cursor: pointer;
  border: 2px solid transparent;
  background-color: transparent;
}
.chapter__play:hover > .chapter__image {
  border-color: #9832ed;
}
.chapter__title {
  text-align: left;
  padding: 0rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.chapter__time {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  text-align: left;
  justify-self: left;
}
.chapter__addcontainer {
  position: absolute;
  display: none;
  opacity: 0;
  width: 2.3rem;
  height: 2.3rem;
  right: 1rem;
  bottom: 1rem;
  background-color: #FFFFFFee;
  transition: all 1s;
}
.chapter__addcontainer:hover {
  box-shadow: 0 0 2px 3px #FFFFFF, 0 0 2px 3px #FFFFFF inset;
}
.chapter__addcontainer:hover ~ .chapter__play > .chapter__image {
  border-color: #9832ed;
}
.chapter__playcontainer {
  position: absolute;
  opacity: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  right: 4.15rem;
  bottom: 1rem;
  background-color: #FFFFFFee;
}
.chapter__playcontainer:hover {
  box-shadow: 0 0 2px 3px #FFFFFF, 0 0 2px 3px #FFFFFF inset;
}
.chapter__playcontainer:hover ~ .chapter__play > .chapter__image {
  border-color: #9832ed;
}
.chapter__playicon {
  width: 1.6rem;
  filter: invert(1);
}
.chapter__addicon {
  width: 1.4rem;
  height: 1.4rem;
  left: calc(50% - 0.7rem);
  top: calc(50% - 0.7rem);
}
.chapter__checkicon {
  width: 1.4rem;
  left: calc(50% - 0.7rem);
}
.chapter__check:checked ~ .chapter__addicon {
  display: flex;
}
.chapter__check:checked ~ .chapter__checkicon {
  display: none;
}

@keyframes animationLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}