:root {
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{ 
  background: #363636;
  background: #1F1F1F;
  background: -webkit-radial-gradient(center, #1F1F1F, #010101);
  background: -moz-radial-gradient(center, #1F1F1F, #010101);
  background: radial-gradient(ellipse at center, #1F1F1F, #010101);
}